# Hoisted (flat) node_modules instead of pnpm's default symlinked store
# layout. This makes multi-stage Docker COPY --from and Next.js's
# standalone-output file tracing behave predictably — both otherwise have
# known gotchas with pnpm's default symlink-based layout (in particular
# around Prisma's generated query engine binary going missing from traced
# output). Trades some of pnpm's disk-space efficiency for build reliability.
node-linker=hoisted
shamefully-hoist=true
